<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="refresh" content="120" >
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<title>Meteo</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="../static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Loading main css file -->
		<link rel="stylesheet" href="../static/w3.css">
		<style>
				h1 {font-size: 80px;}
				h2 {font-size: 65px;}
				h3 {font-size: 36px;}
				h4 {font-size: 24px;}
				h5 {font-size: 20px;}
				h6 {font-size: 18px;}
				.my-margin-left{margin-left:300px!important}.
		</style>
	</head>
	<body>
		<h3>{{ message }}</h3>	
	</body>
</html>