<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="refresh" content="60" >
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
        <title>Meteo</title>
        <!-- Loading third party fonts -->
        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
        <link href="../static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Loading main css file -->
        <link rel="stylesheet" href="../static/w3.css">
        <style>https://www.google.fr/
                h1 {font-size: 80px;}
                h2 {font-size: 65px;}
                h3 {font-size: 36px;}
                h4 {font-size: 24px;}
                h5 {font-size: 20px;}
                h6 {font-size: 18px;}
                .my-margin-left{margin-left:300px!important}.
        </style>
    </head>
    <body>
        <!-- partie haute -->
        <div class="w3-row-padding w3-black">
            <!-- colonne 1 -->
            <div class="w3-col m2 w3-black l3 w3-center">
                <span style="font-size:60px;line-height:1.2em;">{{day_current}} {{day_number}} {{month}}</span><br>
                <span style="font-size:60px;line-height:1.2em;">{{current_hour}}h{{current_minute}}</span>
            </div>
            <!-- colonne 2 -->
            <div class="w3-col m2 w3-black l4 w3-center">
                <span style="font-size:40px;line-height:1.2em;">int</span><span style="font-size:80px;line-height:1.2em;"> {{real_temp_interieur}}°</span><br>
                <span style="font-size:40px;line-height:1.2em;">ext</span><span style="font-size:80px;line-height:1.2em;"> {{real_temp_exterieur}}°</span>
            </div>
            <!-- colonne 3 -->
            <div class="w3-col m2 w3-black l2 w3-center">
                <span ><img src="http://openweathermap.org/img/wn/{{icone}}@2x.png" alt="" width=240></span>
            </div>
            <!-- colonne 4 -->
            <div class="w3-col m2 w3-black l3 w3-center">
                <span style="font-size:50px;line-height:1.2em;">{{phrase}}</span>
                {% if current_hour < 14 %}
                <h3>après-midi: {{'%0.1f' % forecast_current_day["temp_max_day"]|float}}° </h3>
                <h3>{{forecast_current_day["description"]}}</h3>              
                {% endif %}
            </div>
        </div>
        <!-- partie intermédiaire -->
        <div class="w3-row-padding w3-grey">
            <div class="w3-col m2 w3-grey l2">
                <h4>Ressenti</h4>
                <h4>Taux humidité</h4>
                <h4>Pression</h4>
            </div>
            <div class="w3-col m2 w3-grey l4">
                <h4>{{ressenti}}°</h4>
                <h4>{{humidity}}%</h4>
                <h4 style="color:red;">{{pressure}} <sup>hPa</sup></h4>
            </div>
            <div class="w3-col m2 w3-grey l2">
                <h4>Coef Marée</h4>
                <h4>Pleine mer</h4>
            </div>
            <div class="w3-col m2 w3-grey l4">
                <h4>{{first_tide_level}} / {{second_tide_level}}</h4>
                <h4>{{time_first_tide}} / {{time_second_tide}}</h4>
            </div>
        </div>
        <!-- partie basse -->
        <div class="w3-row-padding w3-teal">
            {% for data in data_coming_days%}
            <!-- colonnes -->
            <div class="w3-col m2 w3-teal w3-center">
                <h3>{{data["day"]}}</h3>
                <h3><img src="http://openweathermap.org/img/wn/{{data["icone"]}}@2x.png" alt="" width=100></h3>
                <h4>{{data["description"]}}</h4>
                <h4>max {{data["temp_max_day"]}}°</h4>
                <h4>min {{data["temp_min_day"]}}°</h4>
                <h4 style="color:red;">{{data["pression_day"]}}<sup>hPa</sup></h4>
                <h4>marée {{data["first_tide_level"]}} / {{data["second_tide_level"]}}</h4>
                <br><br>
            </div>
            {% endfor %}                
        </div>  
    </body>
</html>
